/* 全局样式 */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 766px;
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 14px;
}

.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
  margin-top:12px;
}

.el-table {
  margin-top: 15px;
  font-size: 12px;
  white-space: nowrap;
}

.el-pagination {
  margin-top: 15px;
}

.el-steps {
  margin: 15px 0;
}

.el-step__title {
  font-size: 13px;
}

.ql-editor {
  min-height: 300px;
}
.el-main{
  padding:15px;
}
.el-table th>.cell {
  /* white-space: nowrap; */
  font-size:13px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.el-table .cell {
  /* white-space: nowrap; */
}
.el-table th>.cell {
  /* white-space: nowrap; */
  font-size:14px;
  color: rgb(70, 70, 70);
}
.el-table .cell {
  /* white-space: nowrap; */
}
.el-button{
  height:32px !important;
  line-height:11px;
}
.el-table td{
    text-align: center;
    padding:5px 0 0 0;
    height:43px;
}
.el-table th{
  text-align: center;
  padding:5px 0 0 0;
  background-color:rgba(120, 145, 167, 0.315);
  height:43px;
}